@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --bgc: #ab7b4f;
  --title-size: 24px;
  --general_font: Chakra Petch, sans-serif;
  --text-size: 16px;
  --general-pd: 10px;
  /*Buttons*/
  --btn-br: 20px;
  
  /*Tables*/
  --table-mg: auto;
  --table-bw: 2px;
  --table-br: 5px;
  --table-bgc: #511515;
  --table-bs: solid;
  
  /*Logins and menus*/
  --login-menu-filter: drop-shadow(black .2rem .2rem 5px);
  --login-menu-bgc: #b99069;
  --gabi-logo-menu-width: 40vh;
}

/*Elementos estruturais textuais*/
html {
  font-family: var(--general_font);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  background-color: var(--bgc);
}

h1 {
  font-size: 1rem;
  margin: 0px;
}

h2 {
  font-size: .8rem;
  margin: 0px;
}

/*Botões gerais de telas*/
.back_buttons {
  font-family: Chakra Petch, sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  border-radius: 50px;
  cursor: pointer;
}

footer {
  font: bold 15px "Chakra Petch", sans-serif;
  color: white;
  background-color: #815225;
  padding: var(--general-pd);
  margin: 1rem;
  border-radius: 0px 0px 50px 50px;
  filter: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.3);
}

/* ----- Buttons ----- */
#logout_button {
  color: beige;
  background-color: #af2828;
  margin-bottom: 20px;
}

#back_to_menu_button {
  color: beige;
  background-color: #c87474;
  margin-bottom: 20px;
}

#print_report {
  color: black;
  background-color: #e1bcbc;
  border-radius: 10px;
}

/* ----- Gabi Logo ----- */
.gabi_logo{
  filter: drop-shadow(grey .2rem .2rem 5px);;
}

#gabi_logo_login,
#gabi_logo_searching {
  max-height: 80%;
  max-width: 80%;
}

#gabi_logo_menu{
  max-width: var(--gabi-logo-menu-width);
}

#gabi_logo_registration,
#gabi_logo_element_detail {
  max-height: 70%;
  max-width: 70%;
}

#gabi_logo_result_list {
  max-height: 20%;
  max-width: 20%;
}