/* ----- Menu Sctructure ----- */
#menu_grid{
    display: grid;
    margin: auto;
    grid-template-columns: var(--gabi-logo-menu-width) 75vh;
    margin: 1rem;
    padding: .7em;
    background-color: var(--login-menu-bgc);
    border-radius: 50px 50px 0px 0px;
    filter: var(--login-menu-filter);
    border: 1px solid #ccc;
}

#logo{
    grid-column: 1;
    grid-row: 1;
    align-self: end;
}

#greeting{
    grid-column: 1;
    grid-row: 2;
    text-align: right;
    padding-right: 10px;
    align-self: start;
}

#logout{
    grid-column: 1;
    grid-row: 3;
    align-self: start;
}

#table{
    grid-column: 2;
    grid-row: 1 / span 3;
}

/* ----- Table Menu ----- */
.menu_table {
    margin: auto;
    border-width: 5px 5px 10px 5px;
    border-radius: 10px 10px 0px 0px;
    border-color: #511515;
    background-color: #511515;
    border-style: solid;
}

.menu_table caption{
    font-size: 2rem;
}

.super_label {
    font-size: 1.5rem;
}

.sub_labels {
    font-size: 1rem;
    font-weight: bold;
}

.menu_table td {
    color: var(--light-font_color);;
    padding: 1px 3px;
    border-width: 1.5px;
    border-color: #511515;
    border-style: solid;
    background-color: #4e2e0f;
}

.menu_icon {
    width: 10vh;
    height: 10vh;
    margin-top: 5px;
    margin-bottom: 5px;
    filter: var(--login-menu-filter);
    cursor: pointer;
}
  
.report_icon {
    width: 5vh;
    height: 5vh;
    margin-top: 5px;
    margin-bottom: 5px;
}

#flaticon_reference {
    font-size: 12px;
    color: #af2828;
    margin-top: 10px;
}