#register_form{
    margin: 1rem;
    padding: .5em;
    background-color: var(--darker-div-bgc);
    border-radius: 50px 50px 0px 0px;
    box-shadow: var(--login-menu-box-shadow);
    filter: var(--darker-div-filter);
}

.search_disclaimer {
    max-width: 25vw;
    justify-self: center;
}

.error_disclaimer {
    max-width: 25vw;
    justify-self: center;
    font-style: italic;
    color: red;
    text-shadow: black 1px 0 10px;
}