#register_form{
    margin: 1rem;
    padding: .5em;
    background-color: var(--darker-div-bgc);
    border-radius: 50px 50px 0px 0px;
    box-shadow: var(--login-menu-box-shadow);
    filter: var(--darker-div-filter);
}
