.search_grid{
    display: grid;
    margin: auto;
    width: 100vh;
    grid-template-columns: 3fr 1fr; /*Logo | Back to menu button*/
    grid-template-rows: 1fr auto; /*Logo-Button | Search form*/
    margin: 1rem;
    padding: .7em;
    background-color: var(--login-menu-bgc);
    border-radius: 50px 50px 0px 0px;
    filter: var(--login-menu-filter);
    border: 1px solid #ccc;
}

#logo {
    grid-row: 1;
    grid-column: 1;
    justify-self: right;
    align-self: center;
}

#back_to_menu {
    grid-row: 1;
    grid-column: 2;
    justify-self: left;
    padding-left: 10px;
    align-self: center;
}

#search_form{
    margin-top: 10px;
    grid-row: 2;
    grid-column: 1 / span 2;
}


.search_button {
    font-family: Chakra Petch, sans-serif;
    font-size: 20px;
    color: var(--dark-font_color);
    padding: 10px;
    margin: 0px;
    border-radius: 50px;
    cursor: pointer;
    transition: filter 0.7s ease;
}

.search_button:hover {
    filter: brightness(0.8);
}

fieldset {
    font-size: 10px;
    border: none;
    width: 60vh;
    justify-self: center;
}